@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url('msr.woff2') format('woff2');
        /* url('/fonts/MaterialSymbolsRounded.ttf') format('ttf'); */
    font-display: block;
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  